.canvas {
  width: 100% !important;
  height: 100% !important;
}

.-frameless {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
}

.form {
  display: grid;
}

.container {
  width: 100vw !important;
  height: 100vh !important;
}
